@import "fonts";


$babyrose:rgb(255, 176, 238);
$black:rgb(0,0,0);
$pastelpurple:rgb(235, 183, 255);


.col-lg-6{
	h1{
	 color:$black;
	}
	p{
	color:$black
	font-size:$pDesktop;
	}
} 

.texto{
	background:linear-gradient(to bottom, rgb(36, 36, 36), rgbrgb(126, 126, 126);
	color: $black;
}