h1{
    text-align: center;
    color: blueviolet;
    font-size: x-large;
}

body{
    background-color: rgb(248, 177, 224);
}
.newdiv{
	text-align: center
}
@import "colors";
@import "fonts";
@import "nav";
@import "content";
